*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    text-decoration: none;
}
.contanier{
    width: 100%;
    height: 100vh;
    background-color: #f9f9f9;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contanier::before{
    content: '';
    position: absolute;
    height: 100%;
    width: 50%;
    top: 0;
    left: 0;
    background-color: #ff9dcf;
}
.contanier .hero{
    position: relative;
    z-index: 10;
    height: 85vh;
    width: 75%;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(25px);
    border: 3px solid #ff9dcf;
    border-radius: 20px;
    box-shadow: -15px 17px 17px rgba(10, 10, 10, 0.15);
    padding: 0 40px 0 80px;
}
.hero nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    width: 100%;
}
.hero nav img{
    height: 150px;
    width: 150px;
    margin-top: auto;
}
.hero nav .nav-links a {
    color: #242424;
    margin-left: 40px;
    text-transform: capitalize;
    transition: 0.3s;
}
.hero nav .nav-links a:hover,
.hero nav .nav-links a.active{
    color: #801f82;
}
.hero .content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 40px;
}
.hero .content .div-text{
    width: 40%;
    margin-top: 95px;
}
.hero .content .div-text h1{
    margin-bottom: 20px;
    font-size: 50px;
    color: #fff;
}
.hero .content .div-text h4{
    color: #801f82;
    font-size: 24px;
    margin-bottom: 10px;
}
.hero .content .div-text p{
    color: #4f4f4f;
    margin-bottom: 50px;
    font-size: 18px;
}
.hero .content .div-text .btn{
    padding: 15px 20px;
    background-color: #801f82;
    border: 2px solid #801f82;
    color: #fff;
    border-radius: 5px;
    font-weight: bold;
}
.hero .content .div-text .btn:hover{
    color: #801f82;
    transition: 0.3s;
    background-color: transparent;
}

.soc-link{
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
}
.soc-link a i{
    font-size: 25px;
    cursor: pointer;
    color: #801f82;
    margin-bottom: 20px;
    transition: 0.4s;
}
.soc-link a i:hover{
    color: #ff9dcf;
}

.hero .content .div-img{
    width: 40%;
}
.hero .content .div-img img{
    width: 120%;
}
/* animation */

.hero .logo,
.hero .content .div-text h1,
.hero .content .div-text h4,
.hero .content .div-text .btn{
    position: relative;
    top: 50px;
    animation: slide-top .5s linear forwards;
    opacity: 0;
}
.hero .logo{
    animation-delay: 0.2s;
}
.hero .content .div-text h1{
    animation-delay: 0.5s;
}
.hero .content .div-text h4{
    animation-delay: 0.9s;
}
.hero .content .div-text .btn{
    animation-delay: 1.8s;
}
@keyframes slide-top{
    0%{
        top: 50px;
        opacity: 0;
    }
    100%{
        top: 0;
        opacity: 1;
    }
}

.hero .content .div-text p{
    position: relative;
    left: 100px;
    animation: slide-right .5s linear forwards;
    animation-delay: 1.3s;
    opacity: 0;
}
@keyframes slide-right{
    0%{
        left: 100px;
        opacity: 0;
    }
    100%{
        left: 0;
        opacity: 1;
    }
}

.hero .content .div-img img{
    opacity: 0;
    transform: scale(0.8);
    animation: fade-img .5s linear forwards;
    animation-delay: 2.1s;
}
@keyframes fade-img{
    0%{
        opacity: 0;
        transform: scale(0.8);
    }
    100%{
        opacity: 1;
        transform: scale(1);
    }
}

/* about */
.about-col-1 img{
    width: 450px;
    border-radius: 15px;
    margin-left: 50px;
    position: relative;
    /* z-index: 10; */
    border: 3px solid #fff;
    border-radius: 20px;
}

.about-col-1{
    flex-basis: 35%;
}

#about{
    padding: 80px 0;
    color: black;
    background-color: #ff9dcf;
}

.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: center;
}

.about-col-2 {
    flex-basis: 20%;
    position: relative;
    /* z-index: 10; */
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(25px);
    border: 3px solid #fff;
    border-radius: 20px;
    box-shadow: -15px 17px 17px rgba(10, 10, 10, 0.15);
    padding: 0 40px 0 80px;
    color: #4f4f4f;
}

.about-col-2 p{
    margin-top: 35px;
}

.sub-title{
    font-size: 50px;
    font-weight: 600;
    color: #fff;
    text-align: center;
    margin-top: 25px;
}
.title-contact{
    font-size: 50px;
    font-weight: 600;
    color: #ff9dcf;
    text-align: center;
    margin-top: 20px;
}

.tab-titles{
    display: flex;
    margin: 10px 0 20px;
}

.tab-links{
    margin-right: 75px;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    position: relative;
}

.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: #801f82;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

.tab-links.active-link::after{
    width: 100%;
}

.tab-contents ul li{
    list-style: none;
    margin: 25px 0;
    /* font-weight: ; */
    text-align: left;
}

.tab-contents ul li span{
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.tab-contents{
    display: none;
} 

.tab-contents.active-tab{
    display: block;
}

/* services */

#services{
    padding: 30px 0;
    background-color: #ff9dcf;
}

.services-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 30px;
    margin-top: 80px;
    margin-left: 50px;
    margin-right: 50px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(25px);
    border: 3px solid #ff9dcf;
    border-radius: 20px;
    box-shadow: -15px 17px 17px rgba(10, 10, 10, 0.15);
    padding: 40px 20px 40px 20px;
    color: #4f4f4f;
}

.services-list div{
    background: #fff;
    padding: 40px;
    font-size: 13px;
    font-weight: 200;
    border-radius: 10px;
    transition: background 0.5s, transform 0.5s;
}

.services-list div i{
    font-size: 50px;
    margin-bottom: 30px;
}

.services-list div h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}

.services-list div a{
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}

.services-list div:hover{
    background: #ffbe98;
    transform: translateY(-10px);
}

#skills h3{
    margin: 5px;
}

#skills li{
    margin: 10px 0;
    /* padding: 5px; */
}

.bar{
    background: #353b48;
    display: block;
    height: 15px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.bar:hover{
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.bar span{
    height: 15px;
    float: left;
    /* background: linear-gradient(135degm rgba(236, 0, 140, 1)0%, rgba(252, 103, 103, 1)100%); */
}

.python{
    width: 65%;
    animation: python 3s;
    background-color: #fff;
}

.java{
    width: 60%;
    animation: java 3s;
    background-color: #fff;
}

.html{
    width: 70%;
    animation: html 3s;
    background-color: #fff;
}
.css{
    width: 55%;
    animation: css 3s;
    background-color: #fff;
}

.javascript{
    width: 30%;
    animation: javascript 3s;
    background-color: #fff;
}

@keyframes python{
    0%{
        width: 0%;
    }
    100%{
        width: 65%;
    }
}

@keyframes java{
    0%{
        width: 0%;
    }
    100%{
        width: 60%;
    }
}

@keyframes html{
    0%{
        width: 0%;
    }
    100%{
        width: 70%;
    }
}

@keyframes css{
    0%{
        width: 0%;
    }
    100%{
        width: 55%;
    }
}

@keyframes javascript{
    0%{
        width: 0%;
    }
    100%{
        width: 30%;
    }
}

/* Portfolio */
#portfolio{
    padding: 50px 0;
    background-color: #ff9dcf;
}

.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(25px);
    border: 3px solid #ff9dcf;
    border-radius: 20px;
    box-shadow: -15px 17px 17px rgba(10, 10, 10, 0.15);
    padding: 10px 10px 10px 10px;
    color: #fff;
}

.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.work img{
    width: 100%;
    border-radius: 10px;
    
    transition: transform 0.5s;
}

.layer{
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.6),#ff004f);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;
}

.layer h3{
    font-weight: 500;
    margin-bottom: 20px;
}

.layer a{
    margin-top: 20px;
    color: #801f82;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}

.work:hover img{
    transform: scale(1.1);
}

.work:hover .layer{
    height: 100%;
}

.btn{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #fff;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: #fff;
}

.btn:hover{
    background: #fff;
}

/* Contact */
.contact{
    background-color: #ff9dcf;
}
/* .contact-left{
    flex-basis: 35%; 
}

.contact-right{
    flex-basis: 60%;
    margin-top: 50px;
}

.contact-left p{
    margin-top: 30px;
} */

.socials p i{
    color: #ff004f;
    font-size: 25px;
}

.socials{
    /* z-index: 10; */
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(25px);
    border: 3px solid #ff9dcf;
    border-radius: 20px;
    box-shadow: -15px 17px 17px rgba(10, 10, 10, 0.15);
    padding: 5px 40px 5px 40px;
    /* display: flex;
    justify-content: space-between; */
    align-items: center;
    height: 280px;
    width: 100%;
}

.socials-icons{
    margin-top: 30px;
}

.social-icons a{
    text-decoration: none;
    font-size: 50px;
    margin-right: 30px;
    margin-top: 15px;
    color: #801f82;
    display: inline-block;
    transition: transform 0.5s;
}

.socials-icons a:hover{
    color: #ff004f;
    transform: translateY(-5PX);
}

.btn.btn2{
    display: inline-block;
    background: #ff004f;
    
}

.contact-right form{
    width: 100%;
}

form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px 0;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;
}

form .btn2{
    padding: 14px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}

.copyright{
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: #262626;
    font-weight: 300;
    margin-top: 20px;
}

.copyright i{
    color: #BC9C22;
}

/* CSS FOR small screen */
nav .fa{
    display: none;
    color: #080808;
}

@media only screen and (max-width: 600px){
    #header{
        background-image: url(assets/phone.png);
    }

    .header-text {
        margin-top: 100%;
        font-size: 16px;
    }

    .header-text h1{
        font-size: 30px;
    }
    nav .fa{
        display: block;
        font-size: 25px;
    }
    nav ul{
        background: #BC9C22;
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;
    }
    nav ul li{
        display: block;
        margin: 25px;
    }
    nav ul .fa{
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }
    .sub-title{
        font-size: 40px;
    }
    .about-col-1, .about-col-2{
        flex-basis: 100%;
    }
    .about-col-1{
        margin-bottom: 30px;
    }
    .about-col-2{
        font-size: 14px;
    }
    .tab-links{
        font-size: 16px;
        margin-right: 20px;
    }
}